*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-y: scroll;
    overflow-x: hidden;
}

header{
    height: 100vh;
    width: 100vw;
    background-image: url(/img/blue\ abstract.jfif);
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    position: relative;
}



/* nav */
nav{
    height: 5vh;
    width: 100vw;
    background-color: turquoise;
    position: -webkit-sticky;
    position: relative , sticky;
    top: 0;
    z-index: +1;
}

ul{
    list-style: none;
    display: flex;
    position: absolute;
    right: 5%;
    justify-content: space-between;
    width: 20%;
    top: 1.2vh;
}

ul a{
    text-decoration: none;
    text-transform: capitalize;
}

/* Page content */
.content {
    padding: 16px;
  }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}
  

/* name */
.name-box{
    position: absolute;
    left: 45%;
    top: 40%;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(70, 54, 131)
}

.first-name{
    display: block;
    margin: 10px;
    animation: toRight 1.4s;
}

.last-name{
    display: block;
    margin: 10px;
    animation: toLeft 1.4s;
}

@keyframes toRight{
    0%{
        transform: translateX(-100px);
    }

    77%{
        transform: translateX(10px);
    }

    100%{
        transform: translateX(0px);
    }
}

@keyframes toLeft{
    0%{
        transform: translateX(100px);
    }

    77%{
        transform: translateX(-10px);
    }

    100%{
        transform: translateX(0px);
    }
}
/* project button */

.projects-btn{
    position: relative;
    padding: 12px;
    border-radius: 100px;
    background-color: white;
    border: none;
    text-transform: capitalize;
    font-size: .75em;
}

.projects-btn a{
    text-decoration: none;
}

.projects-btn::after{
    content: "";
    position: absolute;
    padding:12px;
    border-radius: 100px;
    background-color: white;
    border: none;
    top: 0%;
    left: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    z-index: -1;
    transition: all 1s;
}


.projects-btn:hover::after{
    transform: scale(1.5);
    animation: disappear 1.5s forwards;
}

/* btn animmation */
@keyframes disappear{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

/* projects */

.projects-section{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0, 162, 255, 0.527), rgba(116, 17, 116, 0.76)) ,url(/img/blue\ moutain.jfif);
    background-size: cover;
    background-position: top;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project{
    background-color: white;
    height: 70%;
    width: 60%;
    margin-top: 75px;
    margin-left: 100px;
    transition: 1s;
    position: relative;
}

.project:hover{
    transform: scale(1.1);
}



/* project img */

.projects-section a img{
    width: 100%;
    height: 85%;
}

.projects-section a p{
    text-align: center;
    color: black;
    font-size: 1.15em;
}

.projects-section a{
    text-decoration: none;
}

/* contact */

.contact-box{
    height: 100vh;
    width: 100vw;
    background-image: url(/img/dark\ blue.jfif);
    background-size: cover;
    background-position: top;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
    background-color: white;
    border-radius: 100px;
    width: 45vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box{
    font-size: 1.5em;
    text-align: center;
}

.email{
    display: block;
    margin: 10px
}

.number{
    display: block;
    margin: 10px;
}

